
__pycache__/
*.py[cod]
*$py.class

*.so

build/
dist/
*.egg-info/
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

venv/
.env/
env/
.venv/

*.manifest
*.spec
*.tmp
*.log
*.bak
*.toc

dist/
build/

.vscode/
.idea/

.DS_Store
Thumbs.db

.questionary-history.json
*.yaml
*.yml
